ENVIRONMENT=development
AUTH_TOKEN=change-me-to-something-random

LLM_PROVIDER=groq

GROQ_API_KEY=gsk-your-key-here
GROQ_MODEL=llama-3.3-70b-versatile

ANTHROPIC_API_KEY=sk-ant-your-key-here
ANTHROPIC_MODEL=claude-sonnet-4-6

JWT_SECRET=random_string_hgfjsghbdthsb
DATABASE_URL=sqlite:///./isthisai.db
